.x-thumb { z-index: 3!important }
.x-thumb::before {
  width: 1.2em;
  height: 1.2em;
  top: 0.5em;
left: 0.75em;
}
.x-bar-in-slider {
  position: absolute;
  width: auto;
  height: 0.8em;
  top: 0.737em;
  left: 0;
  right: 0;
  margin: 0 0.925em;
  background-color: #555;

  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  z-index: 2;
}
