.x-thumb { z-index: 3!important }
.x-bar {
  position: absolute;
  width: auto;
  height: 0.8em;
  top: 0.737em;
  left: 0;
  right: 0;
  margin: 0 0.925em;
  background-color: #555;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  z-index: 2;
}

.x-bar-orange { background-color: orange }
